@use 'sass:color';

.page {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 4rem;

    .header {

        font-size: 2rem;

    }

    .main {
    
        .form {
    
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        
            padding: 1rem;
            background-color: gray;
            border-radius: 0.5rem;

        }
    
    }

}



